<div class="row">
    <div col-sm-8 class="col-sm-offset-2">
        <form (ngSubmit)='onSubmit(f)' #f="ngForm">
            <div class="form-group">
                <label for ="name">
                    Nom  de l'appareil
                </label>
                <input type="text" id='name' class="form-control" name="name" ngModel required>

            
            </div>
            <div class="form-group">
                <label for ="name">
                    status  de l'appareil
                </label>
                <select id="status" name="status" [ngModel] ='defaultOnOff'>
                    <option value ="allumé">allumé</option>
                    <option value ="eteint">eteint</option>

                </select>

            
            </div>
            <button type="submit" [disabled] ='f.invalid' class="btn btn-primary">valider </button>
        </form>
    </div>
</div>