<li [ngClass]="{'list-group-item': true,
'list-group-item-success': appareilStatus === 'allumé',
'list-group-item-danger': appareilStatus === 'eteint'}">


    
    <div style ='width:  20px ; height:  20px; background-color: red;'  *ngIf="appareilStatus==='eteint'">

    </div>
    <h4 [ngStyle]="{color: getColor()}">appareil : {{apparielName}} --- status : {{appareilStatus}}</h4>   
    <input type='text' class="form-control" [(ngModel)]='apparielName'>




    <button  class="btn btn-primary" (click)= "appareilStatus==='eteint'? switchOnOne() : switchOffOne()" >{{getValue()}}</button>
    <a [routerLink]= "[id]">plus d'informations ! </a>
   <!-- <button *ngIf = "appareilStatus==='allumé'" class = "btn btn-secondary" (click) = 'switchOffOne()' >Turn Off</button>-->
</li>